nav {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    padding: 1rem 0;
    background-color: #f4f3f3;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
}

span {
    color: crimson;
    font-weight: 600;
}

.links {
    display: flex;

}

a {
    color: #000;
    text-decoration: none;
    margin: 25px;
    cursor: pointer;
}

a:hover {
    color: rgb(136, 136, 136);
}